<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <div id="app">
        <div class="calendar-container">
            <div class="calendar-header">
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                        <div class="select-box__value"><input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked" />
                            <p class="select-box__input-text">Cream</p>
                        </div>
                        <div class="select-box__value"><input class="select-box__input" type="radio" id="1" value="2" name="Ben" />
                            <p class="select-box__input-text">Cheese</p>
                        </div>
                        <div class="select-box__value"><input class="select-box__input" type="radio" id="2" value="3" name="Ben" />
                            <p class="select-box__input-text">Milk</p>
                        </div>
                        <div class="select-box__value"><input class="select-box__input" type="radio" id="3" value="4" name="Ben" />
                            <p class="select-box__input-text">Honey</p>
                        </div>
                        <div class="select-box__value"><input class="select-box__input" type="radio" id="4" value="5" name="Ben" />
                            <p class="select-box__input-text">Toast</p>
                        </div><img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true" />
                    </div>
                    <ul class="select-box__list">
                        <li><label class="select-box__option" for="0" aria-hidden="aria-hidden">Cream</label></li>
                        <li><label class="select-box__option" for="1" aria-hidden="aria-hidden">Cheese</label></li>
                        <li><label class="select-box__option" for="2" aria-hidden="aria-hidden">Milk</label></li>
                        <li><label class="select-box__option" for="3" aria-hidden="aria-hidden">Honey</label></li>
                        <li><label class="select-box__option" for="4" aria-hidden="aria-hidden">Toast</label></li>
                    </ul>
                </div>
                <select>
                    <option v-for="year in years">{{ year }}</option>
                </select>
            </div>
            <div class="calendar"><span class="day-name">Mon</span><span class="day-name">Tue</span><span
                    class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span
                    class="day-name">Sat</span><span class="day-name">Sun</span>
                <div class="day day--disabled">30</div>
                <div class="day day--disabled">31</div>
                <div class="day" v-for="day in days">{{ day }}</div>
                <div class="day day--disabled">1</div>
                <div class="day day--disabled">2</div>
                <section class="task task--warning">Projects</section>
                <section class="task task--danger">Design Sprint</section>
                <section class="task task--primary">Product Checkup 1<div class="task__detail">
                        <h2>Product Checkup 1</h2>
                        <p>15-17th November</p>
                    </div>
                </section>
                <section class="task task--info">Product Checkup 2</section>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                days: [],
                years: []
            },
            methods: {
                daysInit() {
                    for (let i = 1; i <= 31; i++) {
                        this.days.push(i)
                    }
                },
                yearsInit() {
                    for (let i = 2010; i <= 2030; i++) {
                        this.years.push(i)
                    }
                }
            },
            created() {
                this.daysInit()
                this.yearsInit()
            }
        });
    </script>
</body>

</html>